
body {
    font-family: Josefin Sans, sans-serif;
}
.header_bar {
    background-color: black;
    display: flex;
    align-items: center; 
    height: 60px; 
}

.nav_text {
    width: 60%;
    display: flex;
    padding-right: 60px; 
    justify-content: flex-end;
}
.nav_text a {
    color: white; 
    padding: 15px; 
    padding-top: 40px; 
    font-size: 20px; 
    font-weight: 500; 
    text-decoration: none;
    font-family: open-sans, sans-serif; 
}
.logo {
    width: 40%;
    display: flex;
    align-content: center; 
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px; 
    justify-content: flex-start;
}
.logo_image {
    padding-top: 25px;  
    height: 65px; 
}
.hero_section {
    display: flex; 
    color: white; 
    background-color: black; 
    height: 330px;
}
.hero_section_imagecontainer {
    padding-left: 140px; 
    padding-top: 50px; 
}
.hero_section_image {
    height: 200px;
    width: 200px; 
}
.hero_section_content {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    width: 60%; 
}
.hero_section_headline {
    font-size: 40px;
    padding-top: 30px; 
    margin-bottom: 25px; 
}
.hero_section_subline {
    font-size: 20px; 
    font-family: open-sans, sans-serif; 
}
.main_body {
    display: flex; 
    flex-direction: column; 
    height: 1200px; 
}
.projects {
    display: flex; 
    justify-content: center;
}
.projects_container {
    display: flex;
    justify-content: space-between;
    width: 1150px;
}
.project_box {
    background-color: white;
    height: 340px; 
    width: 340px; 
    padding: 10px;
    margin-top: -60px; 
}
.project_box_image {
    object-fit: cover;
    width: 100%;
    height: 100%; 
}
.skills {
    display: flex; 
    justify-content: center;
    margin: 20px; 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: "user_research visual_design writer"
    
}
.skills_container {
    display: flex;
    justify-content: space-between; 

}   
.skills_box_image {
    
    padding: 20px; 
}
.skills_section_headline {
    font-size: 30px;
    padding-top: 30px; 
    margin-bottom: 25px; 
}
.skills_section_subline {
    font-size: 25px;
    text-align: center;
    padding-top: 30px; 
    margin-bottom: 25px;  
    font-style: Josefin Sans, sans-serif;
}
.skills_section_text {
    font-size: 18px;
    text-align: left;
    margin-bottom: 25px;  
    font-family: open-sans, sans-serif;
    font-weight: 500;
    padding: 20px;
}
.footer_left {
    color: white; 
    width: 30%;
    display: flex; 
    align-items: flex-end; 
    padding-left: 20px; 
}
.footer_center {
    width: 40%;
}
.footer_right {
    width: 20%;
    padding-top: 20px; 
    padding-left: 70px; 
}
.footer {
    display: flex;
    background-color: #BE5D0A; 
    height: 150px;
}
.footer_text {
    color: white;
    font-family: Josefin Sans; sans-serif;
    font-size: 20px; 
    
}
.social_icons {
    display: flex; 
    flex-direction: row; 
}
.email {
    padding: 10px;
}
.id {
    padding: 10px;
}
.li {
    padding: 10px;
}
@media only screen and (max-width: 600){
    .skills {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "user_research" 
    "visual_design"
    "writer"
    ;
}
}